---
import { getLeagueContext } from '../../utils/league-context';
import MyTeamWidget from './MyTeamWidget.astro';

interface Props {
  host?: string;
  leagueId?: string;
  year?: string | number;
  staticHost?: string;
}

const envHost =
  (import.meta.env.PUBLIC_MFL_HOST as string | undefined) ||
  "www49.myfantasyleague.com/";
const envLeagueId =
  (import.meta.env.PUBLIC_MFL_LEAGUE_ID as string | undefined) || "";
const envYear =
  (import.meta.env.PUBLIC_MFL_YEAR as string | undefined) ||
  new Date().getFullYear().toString();
const envStaticHost =
  (import.meta.env.PUBLIC_STATIC_HOST as string | undefined) || envHost;

const normalize = (value: string) => value.replace(/\/+$/, "");

// Detect which league we're in
const league = getLeagueContext(Astro.url);
const isAFL = league.slug === 'afl-fantasy';

// Use the year passed from the page, or fall back to the environment variable/current year.
const year = (Astro.props.year || envYear).toString();

// Construct the MFL homepage URL using the context-aware league object.
// This ensures the correct host and leagueId are always used.
const leagueHome = `https://${league.host}/${year}/home/${league.leagueId}`;
const submitLineupUrl = `https://${league.host}/${year}/lineup?L=${league.leagueId}`;
const addDropUrl = `https://${league.host}/${year}/add_drop?L=${league.leagueId}`;
const liveScoringUrl = `https://${league.host}/${year}/home/${league.leagueId}?MODULE=MESSAGE6`;
---

<div class="breadcrumb-bar">
  <div class="breadcrumb-container">
    <div class="breadcrumb-left">
      <nav aria-label="Breadcrumb">
        <ul class="breadcrumb-list">
          <li>
            <a href={leagueHome} class="breadcrumb-link" target="_blank" rel="noopener noreferrer"
              ><span class="breadcrumb-arrow">←</span> Back to MFL</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="breadcrumb-right">
      {!isAFL && <MyTeamWidget />}
      <!-- Hamburger Menu Button (moved to top bar) -->
      <button
        class="hamburger-btn"
        id="hamburger-btn"
        aria-label="Toggle menu"
        aria-expanded="false"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="container-header theleague-header">
  <div class="container">
    <div class="row">
      <div class="col left">
        <a class="league-link" href={isAFL ? "/afl-fantasy" : "/theleague"}>
          <div class="league_logo" id="league_logo">
            {isAFL ? (
              <!-- AFL Logo -->
              <svg xmlns="http://www.w3.org/2000/svg" id="AFLLogo" viewBox="0 0 339.2 169.2">
                <path d="M0 144.8l88.7-16.3 1.4-27.3zm50 5l66.9-1.7-14.2-14.4zM38.4 111l54.9-38.2-2.9 20.1z" class="afl0"></path>
                <path d="M219 159.5c74.8-16.6 107.5-81.1 111-88.4 4.1-8.6 3.6-13 3.2-14.3-.3-1.4-1.6-5.6-9-11.6C317.9 40.1 261-4.6 186.3 12c-74.7 16.6-107.5 81.1-111 88.4-4.1 8.6-3.6 12.9-3.2 14.3.3 1.4 1.6 5.5 9 11.6 6.2 5.1 63.1 49.8 137.9 33.2z" class="afl0"></path>
                <path d="M309.8 87.1s-39.9 56.9-115 66.8c0 0 15.8 2 29.2-1.5 5.9-1.5 49.9-12.6 85.8-65.3z" class="afl"></path>
                <path d="M223.9 30.5c12 .8 24.8 3.5 36.4 7.2-1.5-2.3-3-4.7-4.7-7.1-21.9-5.7-43.9-6.2-65.6-1.4-12.7 2.8-25.7 8.8-38.1 16.6 27.2-13.7 51.9-16.7 72-15.3z" class="afl2 afl2-1"></path>
                <path d="M273.9 42.6c-2.4-3.4-4.8-6.2-6.7-8.5-3.9-1.3-7.7-2.5-11.6-3.5 1.7 2.4 3.2 4.8 4.7 7.1 4.8 1.5 9.4 3.2 13.6 4.9z" class="afl2 afl2-2"></path>
                <path d="M295.9 54.6c9.1 7.2 11.1 15.3 10.4 22.3 4.5-6.8 7-11.8 7.7-13.4.8-1.6.3-3.6-1-4.7-2.6-2.1-16.6-13.2-38.6-22-2.4-1-4.8-1.8-7.2-2.7 2 2.3 4.3 5.2 6.7 8.5 9.3 3.8 17 8 22 12z" class="afl2 afl2-3"></path>
                <path d="M288.4 99.8c2.2-2.3 4.2-4.6 6-6.8 5-5.9 8.9-11.4 12-16.1.7-7-1.3-15.2-10.4-22.3-5-4-12.8-8.2-22-12-4.3-1.8-8.9-3.4-13.7-4.9-11.6-3.7-24.4-6.4-36.4-7.2-20-1.3-44.8 1.6-71.9 15.3-1.4.9-2.7 1.7-4.1 2.6 47.2-17.5 82.4-7.2 93.4-2.9 7.8.6 15.7 1.7 23.4 3.7-28.1 1-52 4.8-72.1 10.1 51.1-.2 77.7 24.7 88.7 39 1.4 1.8 2.6 3.5 3.5 4.9 1.2-1 2.4-2.2 3.6-3.4z" class="afl3"></path>
                <path d="M241.3 45.5c-11.1-4.3-46.2-14.6-93.4 2.9-5.9 3.9-11.5 8.2-16.9 12.6-7 5.8-13.5 11.9-19.3 18.1 0 0 7.3-4.3 19.4-9.8 24.1-10.9 67.2-26.8 110.2-23.8zm38.3 62.7c0-.1.1-.2.1-.3-.1.1-.1.2-.1.3 1.8-1.6 3.6-3.2 5.3-4.9-.9-1.4-2.1-3.1-3.5-4.9 0 .8 0 .8 0 0-11-14.3-37.6-39.2-88.7-39-23.8 4.5-44.1 14.6-59.5 24.5-5.6 3.6-9.1 5.9-13.3 9.2-11.2 8.8-18.7 16.9-18.7 16.9 22.4 21.5 49.3 29 49.7 29 5.5 1 16.9 1.9 22.6 2.3 14 1 28.1.2 41-2.6 23.9-5.3 46.1-14 65.1-30.5z" class="afl4"></path>
                <path d="M174.7 45.2s.5.4 1.2 1.2c.7.8 1.6 1.9 2.6 3.2 1 1.4 2 3 3 4.8 1 1.8 1.9 3.8 2.7 5.8.8 2 1.5 4.1 2 6.1s.9 3.9 1.1 5.6c.1.8.2 1.6.2 2.3 0 .7.1 1.3.1 1.8 0 1-.1 1.6-.1 1.6s-.5-.4-1.2-1.2c-.4-.4-.8-.8-1.2-1.4-.4-.5-.9-1.2-1.4-1.8-1-1.4-2-3-3-4.8-1-1.8-1.9-3.8-2.7-5.8-.8-2-1.5-4.1-2-6.1s-.9-3.9-1.1-5.6c-.2-1.7-.3-3.1-.3-4.2 0-.9.1-1.5.1-1.5zm45-11.4s.4.5.9 1.4c.5.9 1.1 2.2 1.8 3.8.6 1.6 1.2 3.4 1.8 5.4.5 2 .9 4.2 1.2 6.3.3 2.2.5 4.4.5 6.4 0 2.1-.1 4-.3 5.7-.1.8-.2 1.6-.3 2.3-.1.7-.3 1.3-.4 1.8-.2 1-.5 1.6-.5 1.6s-.4-.5-.9-1.4c-.3-.4-.5-1-.8-1.6-.3-.6-.6-1.3-.9-2.1-.6-1.6-1.2-3.4-1.8-5.4-.5-2-.9-4.2-1.2-6.3-.3-2.2-.4-4.4-.5-6.4 0-2.1.1-4 .3-5.7.2-1.7.5-3.1.7-4.1.2-1.1.4-1.7.4-1.7zm-22.3 4.9s.4.4 1 1.3c.6.8 1.4 2 2.3 3.5.8 1.5 1.7 3.2 2.5 5.1.8 1.9 1.5 4 2.1 6.1.6 2.1 1.1 4.2 1.4 6.3.3 2 .5 4 .5 5.7V69c0 .7-.1 1.3-.1 1.8-.1 1-.2 1.6-.2 1.6s-.4-.4-1-1.3c-.3-.4-.7-.9-1.1-1.5-.4-.6-.8-1.3-1.2-2-.8-1.5-1.7-3.2-2.5-5.1-.8-1.9-1.5-4-2.1-6.1-.6-2.1-1-4.3-1.4-6.3-.3-2-.5-4-.5-5.7 0-1.7 0-3.1.2-4.2 0-.9.1-1.5.1-1.5zm-3.3 83.4c-32.4 11.6-74.9 18.2-106.4.4 3.3-4.8 6.6-9.7 9.8-14.5 25.4 20.6 66.3 19.5 96.6 14.1z" class="afl0"></path>
                <path d="M156.898 48.664l21.8 90.822-49.01 11.763-21.8-90.827z" class="afl0"></path>
                <path d="M124.18 81.875l14.758 34.91-29.844 12.616-14.758-34.91zm29.432-46.928l27.074 112.8-17.697 4.247-27.08-112.8z" class="afl0"></path>
                <path d="M171.4 97.3H153l-3.4 9.7h-11.2l18-47.8h12.3l17.8 47.8h-11.6l-3.5-9.7zm-14.9-9.7h11.6L162.3 71l-5.8 16.6zm35.9 19.4V59.2h30.8v10.1H203v10.1h17.7v9.7H203V107h-10.6zm38.7 0V59.2h10.7v37.6h20.6V107h-31.3z" class="afl5"></path>
                <path d="M171 96h-18.5l-3.4 9.7h-11.2l18-47.8h12.3l17.8 47.8h-11.6L171 96zm-15-9.7h11.6l-5.7-16.5-5.9 16.5zm36 19.4V57.9h30.8V68h-20.2v10.1h17.7v9.7h-17.7v17.9H192zm38.6 0V57.9h10.7v37.6h20.6v10.2h-31.3z" class="afl2 afl2-4"></path>
                <path d="M161.6 68.2l3 6.2c.2.5.9 1 1.5 1.1l6.8 1-4.9 4.8c-.4.4-.7 1.2-.6 1.7l1.2 6.8-6.1-3.2c-.5-.3-1.3-.3-1.8 0l-6.1 3.2 1.2-6.8c.1-.6-.2-1.3-.6-1.7l-4.9-4.8 6.8-1c.6-.1 1.2-.6 1.5-1.1l3-6.2z" class="afl6"></path>
              </svg>
            ) : (
              <!-- The League Logo -->
              <svg
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 415.8 442"
                aria-hidden="true"
              >
                <g class="st0">
                  <path
                    class="st1"
                    d="M115.6 499l-1.4-4.2h-11.5l-1.4 4.2h-8.5l11-29.1h9.5l11 29.1h-8.7zm-7.2-21.7l-3.7 11h7.4l-3.7-11zM130 499v-22.6h-8.2v-6.5h23.8v6.5h-8.1V499H130zM168.8 499v-11.7h-12.1V499h-7.5v-29.1h7.5v10.9h12.1v-10.9h7.5V499h-7.5zM182.2 499v-29.1h7.5v22.6h11.7v6.5h-19.2zM205.2 499v-29.1h21.3v6.5h-13.8v4.5h11.4v6.6h-11.4v4.9h13.8v6.5h-21.3zM237.4 499v-22.6h-8.2v-6.5H253v6.5h-8.1V499h-7.5zM256.6 499v-29.1h7.5V499h-7.5zM267.2 484.5c0-9 6.8-15.1 15.8-15.1 7 0 10.8 4 12.7 7.8l-6.5 3.1c-1-2.3-3.4-4.2-6.2-4.2-4.8 0-8.1 3.6-8.1 8.4 0 4.8 3.4 8.4 8.1 8.4 2.8 0 5.3-1.9 6.2-4.2l6.5 3.1c-1.9 3.7-5.7 7.8-12.7 7.8-9-.1-15.8-6.2-15.8-15.1zM296.7 494.9l4-5.9c2.1 2.1 5.3 3.8 9.3 3.8 2.5 0 4.1-.9 4.1-2.3 0-3.8-16.5-.7-16.5-11.9 0-4.9 4.1-9.3 11.6-9.3 4.7 0 8.7 1.4 11.8 4.1l-4.1 5.6c-2.5-2.1-5.6-3.1-8.5-3.1-2.2 0-3.1.7-3.1 2 0 3.6 16.5.9 16.5 11.7 0 5.8-4.3 9.7-12.1 9.7-5.9.2-10-1.6-13-4.4z"
                  ></path>
                </g>
                <path
                  class="st0 st1"
                  d="M172.3 72.3c-3.7 0-6.7 3-6.7 6.7v53.2c0 3.7 3 6.7 6.7 6.7s6.8-3 6.8-6.7V79.1c-.1-3.7-3.1-6.8-6.8-6.8zm-18.1 9.1c-3.7 0-6.7 3-6.7 6.7V123c0 3.7 3 6.7 6.7 6.7s6.8-3 6.8-6.7V88.2c0-3.7-3.1-6.8-6.8-6.8zm90.6-9.1c-3.7 0-6.7 3-6.7 6.7v53.2c0 3.7 3 6.7 6.7 6.7s6.8-3 6.8-6.7V79.1c-.1-3.7-3.1-6.8-6.8-6.8zm18.1 9.1c-3.7 0-6.7 3-6.7 6.7V123c0 3.7 3 6.7 6.7 6.7s6.8-3 6.8-6.7V88.2c-.1-3.7-3.1-6.8-6.8-6.8zm-79.2 31h49.7V98.9h-49.7v13.5z"
                ></path>
                <path class="st2" d="M78 43.9h259.8v125.2H78z"></path>
                <path
                  class="st3"
                  d="M207.9 394c-16-7.8-51.6-26.7-81.5-53.8-18.5 1.3-37 3-55.4 5.2 47.3 58.1 123.8 91 128.4 92.9l8.5 3.6 8.5-3.6c4.6-2 81.1-34.8 128.4-92.9-18.4-2.2-36.9-3.9-55.4-5.2-29.9 27.1-65.5 46-81.5 53.8zM381.7 68.5l-6.8-6.5c-2.7-2.5-66.5-62-167-62-100.6 0-164.3 59.4-167 62l-6.8 6.5v106.9c-12.4 2.2-23.8 4.6-34.1 7.2l24.1 146.8c52.7-12 115.8-19 183.8-19 68 0 131.1 7 183.8 19l24.1-146.8c-10.3-2.6-21.7-5-34.1-7.2V68.5zm-43.9 100.6c-38.4-4.4-82.7-6.9-129.9-6.9s-91.5 2.5-129.9 6.9v-81C94.8 75 141.8 43.9 207.9 43.9c65.5 0 112.9 31.2 129.9 44.3v80.9z"
                ></path>
                <path
                  class="st4"
                  d="M2.9 135.1c-32.9 6.2-65.6 13.7-98.1 22.5 15.2 22.1 30 44.4 44.2 66.9-2.1 26.6-3.6 53.1-4.7 79.6 18.3-4.9 36.8-9.4 55.2-13.5C-8.4 254-16.4 217.5-24.4 181c8.8-15.4 17.8-30.7 27.3-45.9zM512 158.6c-32.3-9.3-64.9-17.5-97.6-24.3 9.2 15.4 18 30.8 26.4 46.4-8.7 36.4-17.3 72.8-26 109.2 18.4 4.4 36.7 9.2 55 14.5-.6-26.4-1.6-53-3.2-79.6 14.7-22.4 29.8-44.4 45.4-66.2z"
                ></path>
                <path
                  class="st5"
                  d="M207.9 317.6l6.9 21.4h22.5l-18.2 13.3 7 21.4-18.2-13.3-18.2 13.3 6.9-21.4-18.2-13.3h22.5z"
                ></path>
                <path
                  class="st6"
                  d="M169.2 72.6l10 17.7 19.9-4-13.8 14.9 10 17.7-18.5-8.4-13.8 14.9 2.4-20.2-18.5-8.5 20-4zM107.9 89.6l10 17.8 19.9-4-13.8 14.9 10 17.7-18.5-8.5-13.7 14.9 2.3-20.1-18.5-8.5 20-4z"
                ></path>
                <path
                  class="st2"
                  d="M169.9 349.7c0 2-.5 3.5-1.4 4.6s-2.2 1.6-3.7 1.6c-1.6 0-2.8-.5-3.8-1.6s-1.4-2.6-1.4-4.6v-3.3c0-2 .5-3.5 1.4-4.6.9-1 2.2-1.6 3.8-1.6 1.6 0 2.8.5 3.8 1.6.9 1 1.4 2.6 1.4 4.6v3.3zm-3.1-3.7c0-1.2-.2-2.1-.5-2.6s-.9-.8-1.6-.8c-.7 0-1.2.3-1.6.8-.4.6-.5 1.4-.5 2.7v4c0 1.2.2 2.1.5 2.7.4.6.9.8 1.6.8.7 0 1.2-.3 1.6-.8.4-.6.5-1.4.5-2.7V346zM255.4 342.8c-1.6 1.9-2.7 3.7-3.3 5.3-.6 1.6-1 3.6-1.3 6l-.1 1.5h-3l.1-1.5c.2-2.2.7-4.3 1.5-6.2.8-1.9 1.8-3.6 3.2-5.1h-5.4l-.1 1.5h-2.3v-3.9h10.7v2.4z"
                ></path>
                <path
                  class="st7"
                  d="M141.6 83.6l9.8 17.5 19.7-3.9-13.6 14.7 9.8 17.5-18.2-8.3-13.6 14.7 2.3-19.9-18.2-8.4 19.6-3.9zM270.7 83.6l-9.8 17.5-19.7-3.9 13.6 14.7-9.8 17.5 18.2-8.3 13.6 14.7-2.3-19.9 18.2-8.4-19.7-3.9z"
                ></path>
                <path
                  class="st6"
                  d="M245.8 72.6l-9.9 17.7-19.9-4 13.7 14.9-9.9 17.7 18.5-8.4 13.7 14.9-2.3-20.2 18.4-8.5-19.9-4zM307.1 89.6l-9.9 17.7-19.9-4 13.7 15-9.9 17.7 18.5-8.5 13.7 14.9-2.3-20.1 18.4-8.5-19.9-4z"
                ></path>
              </svg>
            )}
          </div>
          <div class="leaguename">
            {isAFL ? (
              <>
                <span class="leaguename--afl-name">AFL Fantasy</span>
              </>
            ) : (
              <>
                <span class="leaguename--the">The</span><span
                  class="leaguename--league">League</span
                ><span class="leaguename--dotus">.us</span>
              </>
            )}
          </div>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="col right">
        <!-- Desktop Navigation Icons -->
        <nav class="desktop-nav" aria-label="Main navigation">
          <a href={isAFL ? "/afl-fantasy/rosters" : "/theleague/rosters"} class="nav-icon-link" title="Roster/Salary">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-banknote"></use>
            </svg>
            <span class="nav-label">Roster/Salary</span>
          </a>
          <a href={submitLineupUrl} class="nav-icon-link" target="_blank" rel="noopener noreferrer" title="Submit lineup">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-submit"></use>
            </svg>
            <span class="nav-label">Submit lineup</span>
          </a>
          <a href={addDropUrl} class="nav-icon-link" target="_blank" rel="noopener noreferrer" title="Add/drop">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-user-plus"></use>
            </svg>
            <span class="nav-label">Add/drop</span>
          </a>
          <a href={isAFL ? "/afl-fantasy/standings" : "/theleague/standings"} class="nav-icon-link" title="Standings">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-numberone"></use>
            </svg>
            <span class="nav-label">Standings</span>
          </a>
          <a href={liveScoringUrl} class="nav-icon-link" target="_blank" rel="noopener noreferrer" title="Live scoring">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-scoreboard"></use>
            </svg>
            <span class="nav-label">Live scoring</span>
          </a>
          <a href={isAFL ? "/afl-fantasy/playoffs" : "/theleague/playoffs"} class="nav-icon-link" title="Playoffs">
            <svg class="nav-icon" aria-hidden="true">
              <use href="/assets/icons/sprite.svg#icon-trophy"></use>
            </svg>
            <span class="nav-label">Playoffs</span>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Simple Navigation Menu -->
  <nav class="nav-menu" id="nav-menu">
    <div class="nav-overlay" id="nav-overlay"></div>
    <div class="nav-content">
      <button class="nav-close-btn" id="nav-close-btn" aria-label="Close menu">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
      <ul class="nav-links">
        <!-- Dynamic League Pages -->
        <li class="nav-section-title">Tools</li>
        <li><a href={isAFL ? "/afl-fantasy/rosters" : "/theleague/rosters"}>Roster/Salary</a></li>
        <li><a href={isAFL ? "/afl-fantasy/rosters?view=nextyear" : "/theleague/rosters?view=nextyear"}>Next Year Summary</a></li>
        <li><a href={isAFL ? "/afl-fantasy/calculator" : "/theleague/calculator"}>Extension Calculator</a></li>
        <li><a href={isAFL ? "/afl-fantasy/draft-predictor" : "/theleague/draft-predictor"}>Draft Order</a></li>
        <li><a href={isAFL ? "/afl-fantasy/standings" : "/theleague/standings"}>Standings</a></li>
        <li><a href={isAFL ? "/afl-fantasy/playoffs" : "/theleague/playoffs"}>Playoffs</a></li>
        <li><a href={isAFL ? "/afl-fantasy/rules" : "/theleague/rules"}>Rules</a></li>
        <li class="nav-section-title">Advanced Reports</li>
        <li><a href={isAFL ? "/afl-fantasy/salary" : "/theleague/salary"}>Salary Benchmarks</a></li>
        <li><a href={isAFL ? "/afl-fantasy/salary-history" : "/theleague/salary-history"}>Salary History</a></li>
        <li><a href={isAFL ? "/afl-fantasy/mvp" : "/theleague/mvp"}>Salary-Adjusted MVPs</a></li>
      </ul>
    </div>
  </nav>

  <!-- Team Widget Mobile Menu (shares overlay with hamburger) -->
  <nav class="team-menu" id="team-menu">
    <div class="team-menu-overlay" id="team-menu-overlay"></div>
    <div class="team-menu-content">
      <button class="nav-close-btn" id="team-menu-close-btn" aria-label="Close team menu">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
      <ul class="nav-links" id="team-menu-links">
        <li class="nav-section-title">Team Management</li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/lineup?L=${league.leagueId}`}>Submit Lineup</a></li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/add_drop?L=${league.leagueId}`}>Add/Drops</a></li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/options?L=${league.leagueId}&O=18`}>Injured Reserve</a></li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/options?L=${league.leagueId}&O=98`}>Practice Squad</a></li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/options?L=${league.leagueId}&O=133`}>Trade Block</a></li>
        <li><a href={`https://${league.host}/${new Date().getFullYear()}/options?L=${league.leagueId}&O=05`}>Trades</a></li>
      </ul>
    </div>
  </nav>
</div>

<style>
  /* Breadcrumb Styles */
  .breadcrumb-bar {
    background: #1c497c;
    border-bottom: 1px solid #1c497c;
    padding: 0.25rem 0;
  }

  .breadcrumb-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .breadcrumb-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
  }

  .breadcrumb-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .breadcrumb-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
  }

  .breadcrumb-list li {
    display: flex;
    align-items: center;
  }

  .breadcrumb-list li:not(:first-child)::before {
    content: "/";
    margin: 0 0.5rem;
    color: rgba(255, 255, 255, 0.6);
  }

  .breadcrumb-link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .breadcrumb-arrow {
    font-size: 1.1em;
  }

  .breadcrumb-link:hover {
    color: #e2e8f0;
    text-decoration: underline;
  }

  .theleague-header {
    background: var(--primary-content-bg-color, #ffffff);
    border-bottom: 1px solid var(--primary-content-border-color, #e2e8f0);
    box-shadow: var(
      --primary-content-boxshadow-size,
      0 2px 6px rgba(0, 0, 0, 0.05)
    );
    padding: 1rem 0 1.25rem;
    margin-bottom: 1rem;
  }

  .theleague-header .container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .theleague-header .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  @media (min-width: 980px) {
    .theleague-header .row {
      flex-wrap: nowrap;
    }
  }

  .theleague-header .col.left {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .theleague-header .col.right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    order: 2;
  }

  @media (min-width: 980px) {
    .theleague-header .col.right {
      width: auto;
      order: 0;
    }
  }

  .league-link {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
  }

  .league_logo svg {
    width: 90px;
    height: 100px;
    display: block;
  }

  /* SVG Logo Colors */
  .league_logo svg .st0 {
    fill: none;
  }

  .league_logo svg .st1 {
    fill: #999999; /* Light gray for "07" text */
  }

  .league_logo svg .st2 {
    fill: #2e8743; /* Green background at top */
  }

  .league_logo svg .st3 {
    fill: #1c497c; /* Blue shield */
  }

  .league_logo svg .st4 {
    fill: #1c497c; /* Blue side elements */
  }

  .league_logo svg .st5 {
    fill: #2e8743; /* Green center star */
  }

  .league_logo svg .st6 {
    fill: #ffffff; /* White stars on green */
  }

  .league_logo svg .st7 {
    display: none; /* Hide blue stars */
  }

  /* AFL Logo Colors */
  .league_logo svg .afl0 {
    fill: #c41e3a; /* Red */
  }

  .league_logo svg .afl {
    fill: #002244; /* Navy blue */
  }

  .league_logo svg .afl2 {
    fill: #999999; /* Gray */
  }

  .league_logo svg .afl3 {
    fill: #666666; /* Dark gray */
  }

  .league_logo svg .afl4 {
    fill: #333333; /* Darker gray */
  }

  .league_logo svg .afl5 {
    fill: #ffffff; /* White */
  }

  .league_logo svg .afl6 {
    fill: #ffd700; /* Gold star */
  }

  .leaguename {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  @media (min-width: 640px) {
    .leaguename {
      font-size: 2.5rem;
    }
  }

  .leaguename--afl-name {
    font-weight: 700;
    color: #c41e3a;
    background: linear-gradient(135deg, #c41e3a 0%, #002244 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .leaguename--the {
    font-weight: 700;
    margin-right: 0.2rem;
    color: var(--primary-color, #1c497c);
  }

  .leaguename--league {
    font-weight: 700;
    color: var(--secondary-color, #2e8743);
  }

  .leaguename--dotus {
    font-weight: 700;
    color: var(--primary-color, #1c497c);
    margin-left: 0.15rem;
    text-transform: lowercase;
    font-size: 1rem;
  }

  /* User Menu Styles - Shared */
  .user-menu-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .user-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s ease;
    border-radius: 0.5rem;
    color: var(--primary-color, #1c497c);
  }

  .user-btn svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
  }

  .user-btn:hover {
    color: var(--secondary-color, #2e8743);
  }

  .user-dropdown {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    z-index: 1001;
    padding: 1rem;
  }

  .user-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .user-dropdown-item {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    transition: background 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 0.95rem;
    color: #333;
  }

  .user-dropdown-item:hover {
    background: #f5f5f5;
    color: var(--secondary-color, #2e8743);
  }

  .user-dropdown-item:first-child {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .user-dropdown-item:last-child {
    border-radius: 0 0 0.375rem 0.375rem;
  }

  .auth-content {
    display: inline-grid;
    gap: 0.5rem;
  }

  .logout-btn {
    color: #c33;
  }

  .logout-btn:hover {
    background: #fef2f2;
    color: #dc2626;
  }

  /* Desktop Navigation Icons */
  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(148, 163, 184, 0.5) transparent;
    padding-bottom: 1.25rem;
    margin-bottom: -1rem;
  }

  .desktop-nav::-webkit-scrollbar {
    height: 6px;
  }

  .desktop-nav::-webkit-scrollbar-track {
    background: transparent;
  }

  .desktop-nav::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.5);
    border-radius: 3px;
  }

  .desktop-nav::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.7);
  }

  @media (min-width: 900px) {
    .desktop-nav {
      overflow-x: visible;
    }
  }

  .nav-icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--primary-color, #1c497c);
    transition: color 0.2s ease;
    flex-shrink: 0;
    min-width: 60px;
  }

  .nav-icon-link:hover {
    color: var(--secondary-color, #2e8743);
  }

  .nav-icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }

  .nav-icon:has(use[href*="icon-banknote"]) {
    transform: rotate(25deg);
  }

  .nav-label {
    font-size: 0.6rem;
    font-weight: 500;
    white-space: nowrap;
  }

  /* Elegant Animated Hamburger Button */
  .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 998;
  }

  .hamburger-box {
    width: 24px;
    height: 18px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: var(--primary-content-bg-color, #ffffff);
    border-radius: 0px;
    position: absolute;
    transition:
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -9px;
  }

  .hamburger-inner::after {
    bottom: -9px;
  }

  /* Hover state */
  .hamburger-btn:hover .hamburger-inner,
  .hamburger-btn:hover .hamburger-inner::before,
  .hamburger-btn:hover .hamburger-inner::after {
    background-color: var(---accent-content-bg-color: , #ddd);
  }

  /* Active state - Transform to X */
  .hamburger-btn.active .hamburger-inner {
    transform: rotate(45deg);
  }

  .hamburger-btn.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
  }

  .hamburger-btn.active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
  }

  .hamburger-btn.active:hover .hamburger-inner,
  .hamburger-btn.active:hover .hamburger-inner::before,
  .hamburger-btn.active:hover .hamburger-inner::after {
    background-color: var(--primary-link-hover-text-color, #b22222);
  }

  /* Simple Navigation Menu */
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
  }

  .nav-menu.active {
    pointer-events: auto;
  }

  .nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .nav-menu.active .nav-overlay {
    opacity: 1;
  }

  .nav-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    max-width: 85vw;
    background: var(--primary-content-bg-color, #ffffff);
    padding: 2rem 1.5rem;
    box-shadow: -4px 0 24px rgba(0, 0, 0, 0.12);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }

  .nav-menu.active .nav-content {
    transform: translateX(0);
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    margin-bottom: 0.5rem;
  }

  .nav-section-title {
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--primary-link-hover-text-color, #b22222);
    margin: 1.5rem 0 0.75rem 0;
    padding: 0;
  }

  .nav-section-title:first-child {
    margin-top: 0;
  }

  .nav-links a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 0;
    border-bottom: 1px solid #f5f5f5;
    transition: color 0.2s ease;
  }

  .nav-links a:hover {
    color: var(--secondary-color, #2e8743);
  }

  .nav-links a svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }

  .nav-links hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin: 1rem 0;
  }

  /* Team Widget Mobile Menu (same styles as nav-menu) */
  .team-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
  }

  .team-menu.active {
    pointer-events: auto;
  }

  .team-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .team-menu.active .team-menu-overlay {
    opacity: 1;
  }

  .team-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    max-width: 85vw;
    background: var(--primary-content-bg-color, #ffffff);
    padding: 2rem 1.5rem;
    box-shadow: -4px 0 24px rgba(0, 0, 0, 0.12);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }

  .team-menu.active .team-menu-content {
    transform: translateX(0);
  }

  /* Close button */
  .nav-close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    color: var(--primary-color, #1c497c);
    transition: color 0.2s ease;
    z-index: 1001;
  }

  .nav-close-btn:hover {
    color: var(--secondary-color, #2e8743);
  }

  .nav-close-btn svg {
    width: 100%;
    height: 100%;
  }

  /* Responsive Styles */
  @media (max-width: 960px) {
    .theleague-header {
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 640px) {
    .league_logo svg {
      height: 3rem;
      width: auto;
    }
    .nav-content {
      width: 100%;
    }
  }

  @media (max-width: 360px) {
    .league_logo svg {
      height: 2rem;
      width: auto;
    }

    .leaguename {
      font-size: 2rem;
    }
  }
</style>

<script>
  // Menu management - handles both hamburger and team widget menus
  const hamburgerBtn = document.getElementById("hamburger-btn");
  const navMenu = document.getElementById("nav-menu");
  const navOverlay = document.getElementById("nav-overlay");
  const navCloseBtn = document.getElementById("nav-close-btn");

  const teamMenu = document.getElementById("team-menu");
  const teamMenuOverlay = document.getElementById("team-menu-overlay");
  const teamMenuCloseBtn = document.getElementById("team-menu-close-btn");

  function closeAllMenus() {
    navMenu?.classList.remove("active");
    hamburgerBtn?.classList.remove("active");
    hamburgerBtn?.setAttribute("aria-expanded", "false");

    teamMenu?.classList.remove("active");

    document.body.style.overflow = "";
  }

  function toggleNavMenu() {
    // Close team menu if open
    teamMenu?.classList.remove("active");

    const isActive = navMenu?.classList.toggle("active");
    hamburgerBtn?.classList.toggle("active");
    hamburgerBtn?.setAttribute("aria-expanded", isActive ? "true" : "false");
    document.body.style.overflow = isActive ? "hidden" : "";
  }

  function toggleTeamMenu() {
    // Close nav menu if open
    navMenu?.classList.remove("active");
    hamburgerBtn?.classList.remove("active");
    hamburgerBtn?.setAttribute("aria-expanded", "false");

    const isActive = teamMenu?.classList.toggle("active");
    document.body.style.overflow = isActive ? "hidden" : "";
  }

  // Hamburger menu events
  hamburgerBtn?.addEventListener("click", toggleNavMenu);
  navOverlay?.addEventListener("click", closeAllMenus);
  navCloseBtn?.addEventListener("click", closeAllMenus);

  // Team menu events
  teamMenuOverlay?.addEventListener("click", closeAllMenus);
  teamMenuCloseBtn?.addEventListener("click", closeAllMenus);

  // Make team widget trigger available globally for MyTeamWidget to use
  (window as any).toggleTeamMenu = toggleTeamMenu;

  // Close on escape key
  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      if (navMenu?.classList.contains("active") || teamMenu?.classList.contains("active")) {
        closeAllMenus();
      }
    }
  });
</script>
